/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  background-color: rgb( 56,47,45);
  color: rgb(235,51,0);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
  line-height: 2rem;
}

.button-collapse {

}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgb(255,255,255);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*
===================

Custom Updates

===================
*/

/* old browns color codes
  brown: rgb(34, 21, 12);
  orange: rgb(251, 79, 20);
*/

/* new browns color codes
  brown:  rgb( 56,47,45);
  orange: rgb(235,51,0);
  white: rbg(255,255,255);
*/

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.nav-container {
  background-color: rgb( 56,47,45);
}

.footer-container {
  background-color: rgb(235,51,0);
}

.hero-h1 {
  color: rgb(251, 79, 20);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.flash {
  color: lightgrey;
  text-shadow:
    -1px -1px 0 #EB3300,
    1px -1px 0 #EB3300,
    -1px 1px 0 #EB3300,
    1px 1px 0 #EB3300;
}

.flash:hover {
  color: gold;
}

.logo {
  height: 20px;
}

.timer-container {
  height: 30vh;
}

.timer-text {
  color: white;
  font-size: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.brown {
  background-color: rgb( 56,47,45);
}

.orange {
  background-color: rgb(251, 79, 20);
}
